
#errorIcon {
    position: relative;
    color: #eb1c31;
    font-size: 5em;
    animation: errorIcon 1s infinite ease-in-out;
}
#loadingIcon {
    position: relative;
    color: #4E9F3D;
    font-size: 5em;
    animation: loading 0.6s infinite ease-in-out;
}

#message {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    animation: errorMessage;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    width: 30%;
    height: 30%;
}

.message__loader {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.message__loader > span {
    font-size: 15em;
}

.message__error {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    height: 100%;
}

@keyframes errorMessage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes errorIcon {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

@media (max-width: 400px) {
    #message {
        width: 100%;
        height: 50%;
    }
}