#picture_reply {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
}

.reply__input--container > div  {
    width: 90%;
    padding-top: 5px;
    padding-left: 10px;
    height: 100%;
}

.reply__input--container {
    background: #FAFAFA;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

#reply--media > div > div{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-size: cover;
    margin-top: 15px;
}

#reply--metadata {
    margin-top: 15px;
}

.replyTweet--container {
    display: flex;
    border-bottom: 1px solid #F2F2F2;
    margin-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}

input[type="file"] {
    display: none;
}

.replyTweet--container > div {
    display: flex;
}

#upload-file-reply {
    color: #BDBDBD;
    margin-left: -30px;
    margin-top: 8px;
}

#upload-file-reply > span:hover {
    color: #2f80ed;
}

.replyTweet--container > div {
    width: 100%;
}

input::placeholder {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #BDBDBD;
}

input:focus {
    outline: none !important;
}
